<!DOCTYPE html>
<html>
<head>
  <title>National Humane Society</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link rel="stylesheet" href="stylesheets/style.css"/>
</head>
<body>

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="" class="brand-logo left">National Humane Society</a>
        <ul class="right">
        <$ if (user) { $>
          <li><a href="/logout"><i class="material-icons left">trending_flat</i>Logout</a></li>
          <$ } else { $>
          <li><a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a></li>
          <$ } $>
        </ul>
      </div>
    </nav>
    <div id="floating-panel">
  <input id="address" type="textbox" value=" ">
  <input id="submit" type="button" value="Location">
</div>
  </div>

  <div id="errors"></div>
  <div id="results"></div>

  <div class="row">
    <div class="col s2" id="register">
      Email: <input type="email" id="register-email"> Password: <input type="password" id="register-password"> Confirm Password: <input type="password" id="confirm-password">
      <button id="submit-register">Register</button>
    </div>

    <div class="col s2" id="login">
      Email: <input type="email" id="login-email"> Password: <input type="password" id="login-password">
      <button id="submit-login">Login</button>
    </div>

    <button id="logout">Logout</button>

  </div>

  <div class="row">
    <div class="col s2">
      <!-- search -->
      <div class="input-field">
        <input id="search" type="search" placeholder="search name">
        <i class="material-icons">close</i>
      </div>
    </div>

    <div class="col s4">
      <button id="get-user">Get My User</button>
    </div>

    <div class="col s6">
      <button id="get-users">Get Users</button>
      <div id="users"></div>
    </div>
  </div>

  <button id="get-post">Get Post</button>
  <div id="post"></div>



  <!-- embed the current user's id -->
  <script>
    var userId = '';
    <$ if (user) { $>
      userId = '<$= user.id $>';
    <$ } $>
  </script>


<div id="map"></div>

<!-- Replace the value of the key parameter with your own API key. -->
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMO9jnjHLk50wNoiexBTCCd_wH8F6MWLY&callback=initMap">
</script>





  <!-- jQuery (required by Materialize) -->
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <!-- Using Underscore for collection manipulation and client-side templatin -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script src="javascripts/app.js"></script>
  <<script src="/javascripts/google_map.js" type="text/javascript"></script>
</body>
</html>
