<!DOCTYPE html>
<html>
<head>
  <title>National Humane Society</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link rel="stylesheet" href="stylesheets/style.css"/>
</head>
<body>

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo left">National Humane Society</a>
        <ul class="right">

          <div id="oauth">
            <$ if (user) { $>
              <li><a href="/logout"><i class="material-icons left">trending_flat</i>Logout</a></li>
            <$ } else { $>
              <li><a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a></li>
            <$ } $>
          </div>

          <div id="local-logout" class="hidden">
            <button class="nav-button" id="logout"><i class="material-icons left">trending_flat</i>Logout</button>
          </div>

        </ul>
        <ul class="right">
          <$ if (user) { $>
            <button class="nav-button" id="update-button">Update</button>
          <$ } else { $>
            <button class="nav-button" id="login-button">Login</button>
          <$ } $>
          <button class="nav-button hidden" id="update-button">Update</button>
          <div class="nav-form hidden" id="login">
            <button class="nav-submit local-back right">Back</button>
            <input type="email" id="login-email" placeholder="email" autofocus> 
            <input type="password" id="login-password" placeholder="password">
            <button class="nav-submit" id="submit-login">Login</button>
          </div>

          <div class="nav-form hidden" id="register">
            <button class="nav-submit local-back right">Back</button>
            <input type="email" id="register-email" placeholder="email" autofocus>
            <input type="password" id="register-password" placeholder="password">
            <input type="password" id="confirm-password" placeholder="confirm password">
            <button class="nav-submit" id="submit-register">Register</button>  
          </div>

          <div class="nav-form hidden" id="additional-information">
            <button class="nav-submit update-back right">Back</button>
            <input type="text" id="user-name" placeholder="name" autofocus>
            <input type="text" id="user-address" placeholder="address">
            <input type="text" id="user-city" placeholder="city">
            <input type="text" id="user-state" placeholder="state">
            <input type="number" id="user-zip" placeholder="zip">
            <input type="text" id="preferred-animal" placeholder="preferred animal">
            <button class="nav-submit" id="submit-update">Update</button> 
          </div>

        </ul>

        <ul class="right">
          <$ if (!user) { $>
          <button class="nav-button" id="register-button">Register</button>
          <$ } $>
        </ul>

      </div>
    </nav>
  </div>

  <div id="errors"></div>
  <div id="results"></div>

  <div class="row">
    <div class="col s2">
      <div class="input-field">
        <input id="search" type="search" placeholder="search name">
        <i class="material-icons">close</i>
      </div>
    </div>

    <div class="col s6">
      <button id="get-users">Get Users</button>
      <div id="users"></div>
    </div>

    <div>
      <button id="get-user">Get User</button>
    </div>

  </div>

  <!-- embed the current user's id -->
  <script>
    var userId = '';
    <$ if (user) { $>
      userId = '<$= user.id $>';
    <$ } $>
  </script>

  <!-- jQuery (required by Materialize) -->
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <!-- Using Underscore for collection manipulation and client-side templatin -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script src="javascripts/app.js"></script>

</body>
</html>
