.brand-logo {
  margin-left: 15px; }

.student .card-title {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-top: -18px; }

.nav-wrapper {
	background-color: rgba(0,0,0,.9); }

img {
  height: 64px;
}

.nav-button, .nav-submit {
	background-color: rgba(0,0,0,0);
	border: solid 0px;
  color: white;

}

.nav-button {
	margin: 0 20px;
}

.nav-form, .nav-list {
	color: white;
	background-color: black;
	border-width: 0px 20px 5px 20px;
	border-style: solid;
	border-color: black;
}

.nav-form {
  width: 400px;
}

#user-shelter {
	position: initial;
	visibility: visible;
}

.hidden {
	display:none;
}

input {
	display:inline !important;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: black;
}
#map {
  height: 700px;
}

#floating-panel{
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: rgba(0,0,0,0);
  padding: 5px;
  border: 1px solid rgba(0,0,0,0);
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#location {
  position: relative;
  z-index: 1;
  background: rgba(0,0,0,0.3);
  padding: 10px 5px;
  font-family: Banda;
}

select {
	display: inline-block;
	background-color: black;
	border: black;
	margin-left: -10px;
}

#pet-div {
  width: 1000px;
}

#address {
  background-color: rgba(0,0,0,0);
  color: white;
  border: black;
  border-bottom: solid 1px white;
}

#get-users, #get-user, .edit-pet, .delete-pet, .pet-container {
  display: inline;
}

.u-pet-name, .u-pet-animal, .u-pet-breed, .u-pet-size, .u-pet-sex, .u-pet-age {
  display:inline !important;
  width: 300px !important;
}

.u-pet-submit {
  display:block;
}

.edit-pet, .delete-pet, .update-pet-back {
  text-decoration: underline;
}

.edit-pet, .update-pet-back {
  margin-left: 20px;
}

.show-shelter-container {
  width: 500px;
  height: 500px;
  position: absolute;
  left: 300px;
  top: 300px;
  background-color: white;
}

#show-shelter-pet, .show-shelter-all-pets {
  width: 500px;
  height: 200px;
  background-color: black;
  color: white;
}

footer {
  background: rgba(0,0,0,.9);
  text-align: center;
  font-size: 1em;
  color: white;
  padding-bottom: 15px;
  border: 5px solid black;
  /*font-family: 'Baloo Da', cursive;*/
}


span {
  color: rgb(79, 216, 216)

}






/****** Information bars *******/

a {
  font-family: 'Baloo Da', cursive;
  font-size: 1em;
  text-align: center;
}

.row {
  border: 2px black solid;
}

.pet-information {
    width: 100%;
    margin: 0;
}
.pet-information li {
  float: left;
  display: inline;
  width: 25%;
  color: #ffffff;

}
.pet-information li i {
  font-size: 50px;
  float: left;
  width: 60px;
}
.pet-information li a {
  color: #ffffff;
  padding: 25px 65px 25px 40px;
  float: left;
  width: 100%;
  box-sizing: border-box;

}
.pet-information li a:hover {
     text-decoration:none;

}
.pet-information li p {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 2px 0 0px;

}
.pet-information li .followers {
  text-transform: uppercase;
}
.pet-information li:before {
  position: absolute;
  content: "\f105";
  right: 30px;
  top: 0;
  bottom: 0;
  height: 30px;
  width: 30px;
  border: 9px solid #ffffff;
  border-radius: 30px;
  margin: auto;
  font-size: 18px;
  font-family: FontAwesome;
  color: #ffffff;
  text-align: center;
  line-height: 26px;
}
.pet-information li:hover:before {
  background-color: #ffffff;
  color: #999999;
}
.pet-information li.adoption {
  background-color: #4d6bab;
}
.pet-information li.pet-care {
  background-color: #4ec6f8;
}
.pet-information li.volunteer {
  background-color: #d34836;
}
.pet-information li.personality {
  background-color: #248cc9;
}

p {
  display: inline;
}

