.brand-logo {
  margin-left: 15px; }

.student .card-title {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-top: -18px; }

.nav-wrapper {
	background-color: rgba(0,0,0,.9); }

.nav-button, .nav-submit {
	background-color: rgba(0,0,0,0);
	border: solid 0px;
}

.nav-button {
	margin: 0 20px;
}

.nav-form {
	color: white;
	background-color: black;
	border-width: 0px 20px 5px 20px;
	border-style: solid;
	border-color: black;
	width: 400px;
}

.hidden {
	display:none;
}

body:enabled {
	background-color: red !important;
}