.brand-logo {
  margin-left: 15px; }

.student .card-title {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-top: -18px; }

.nav-wrapper {
	background-color: rgba(0,0,0,.9); }

.nav-button, .nav-submit {
	background-color: rgba(0,0,0,0);
	border: solid 0px;
}

.nav-button {
	margin: 0 20px;
}

.nav-form {
	color: white;
	background-color: black;
	border-width: 0px 20px 5px 20px;
	border-style: solid;
	border-color: black;
	width: 400px;
}

#user-shelter {
	position: initial;
	visibility: visible;
}

.hidden {
	display:none;
}

input {
	display:inline !important;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 700px;
}

#floating-panel{
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: black;
  padding: 5px;
  border: 1px solid black;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#location {
  position: relative;
  z-index: 1;
  background: rgba(0,0,0,0.3);
  padding: 10px 5px;
  font-family: Banda;
}

select {
	display: inline-block;
	background-color: black;
	border: black;
	margin-left: -10px;
}

#pet-div {
  width: 1000px;
}

